body{
  margin: 0;
}
main{
  width: 100%;
  height:100vh;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kaart{
  margin: 0 auto;
  height: 50vh;
  width: 50vh;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15%;
  display: flex;
  background-color: white;
  display: flex;
}

.text-in-kaart{
  align-self: center;
  flex-direction: column;
  text-align: center;
}

.titel-van-kaart{
  transform: translateY(-4em);
}

.subtext-van-kaart{
  transform: translateY(4em);
}